/* 
    Created on : Feb 19, 2015, 8:35:35 PM
    Author     : nicholas
*/
.w-menu-module {
    
}

.w-module-icon {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 60px;
}

.w-module-color-badge {
    
}

.w-module-title {
    
}

.w-module-options {
    
}
